<app-sidebar></app-sidebar>

<div class="container-fluid" style="margin-top:15px;">
  <mdb-card>
    <mdb-card-header style="background-color:#F8F8FF;">
      <h4>Relatório Mensal de Gastos</h4>
    </mdb-card-header>
    <mdb-card-body>
      <button mdbBtn color="primary" mdbWavesEffec (click)="cadastrarValoresMensais()">
        <mdb-icon fas icon="plus"></mdb-icon> &nbsp;Cadastrar Valor Mensal
      </button>
      <div style="display: block">
        <canvas mdbChart [chartType]="chartType" [datasets]="chartDatasets" [labels]="chartLabels"
          [colors]="chartColors" [options]="chartOptions" [legend]="true" (chartHover)="chartHovered($event)"
          (chartClick)="chartClicked($event)">
        </canvas>
      </div>
    </mdb-card-body>
  </mdb-card>
</div>
