<header class="header" id="header" [ngClass]="{'body-pd': openNavbar}">
  <div class="header__toggle">
    <i class='bx bx-menu' id="header-toggle" (click)="showNavbar()"></i>
  </div>
</header>

<div class="l-navbar" id="nav-bar" [ngClass]="{'show': openNavbar}">
  <nav class="nav">
    <div>
      <a [routerLink]="['/dashboard']" class="nav-link waves-light nav__logo" mdbWavesEffect>
        <mdb-icon class="nav__logo-icon" fas icon="hand-holding-usd"></mdb-icon>
        <span class="nav__logo-name">My Money</span>
      </a>

      <div class="nav__list">
        <a [routerLink]="['/dashboard']" class="nav-link waves-light nav__link" mdbWavesEffect customHeight="50" mdbTooltip="Dashboard" placement="right">
          <i class='bx bx-grid-alt nav__icon'></i>
          <span class="nav__name">Dashboard</span>
        </a>

        <a [routerLink]="['/perfil']" class="nav-link waves-light nav__link" mdbWavesEffect customHeight="50" mdbTooltip="Perfil" placement="right">
          <i class='bx bx-user nav__icon'></i>
          <span class="nav__name">Perfil</span>
        </a>

        <!-- <a [routerLink]="['/cadastro']" class="nav-link waves-light nav__link" mdbWavesEffect customHeight="50" mdbTooltip="Cadastro" placement="right">
          <i class='bx bx-message-square-detail nav__icon'></i>
          <span class="nav__name">Cadastro</span>
        </a>

        <a href="#" class="nav-link waves-light nav__link" mdbWavesEffect>
          <i class='bx bx-bookmark nav__icon'></i>
          <span class="nav__name">Favorites</span>
        </a>

        <a href="#" class="nav-link waves-light nav__link" mdbWavesEffect>
          <i class='bx bx-folder nav__icon'></i>
          <span class="nav__name">Data</span>
        </a> -->

        <a [routerLink]="['/grafico']" class="nav-link waves-light nav__link" mdbWavesEffect customHeight="50" mdbTooltip="Analytics" placement="right">
          <i class='bx bx-bar-chart-alt-2 nav__icon'></i>
          <span class="nav__name">Analytics</span>
        </a>
      </div>
    </div>

    <a class="nav-link waves-light nav__link" style="color: #CEF6E3"(click)="onLogout()" mdbWavesEffect customHeight="50" mdbTooltip="Sair" placement="right">
      <i class='bx bx-log-out nav__icon' id="nav-sair"></i>
      <span class="nav__name" id="nav-sair">Sair</span>
    </a>
  </nav>
</div>

<div class="container" style="margin-top:80px;" [ngClass]="{'body-pd': openNavbar}">
  <div mdbModal #edit="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered lg modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header text-center">
          <h4 class="modal-title w-100 font-weight-bold">Edição</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="edit.hide()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body mx-3">
          <form #contasBrunoForm="ngForm" (ngSubmit)="onSubmit(contasBrunoForm)">
            <div class="form-row">
              <input type="hidden" name="_id" #_id="ngModel" [(ngModel)]="contasBrunoService.selectContaBruno._id">
              <div class="form-group col-md-6">
                <label for="descricao">Conta:</label>
                <input type="text" name="descricao" #name="ngModel"
                  [(ngModel)]="contasBrunoService.selectContaBruno.descricao" required class="form-control"
                  autocomplete="off">
              </div>
              <div class="form-group col-md-6">
                <label for="detalhe">Detalhe:</label>
                <input type="text" name="detalhe" #name="ngModel"
                  [(ngModel)]="contasBrunoService.selectContaBruno.detalhe" required class="form-control"
                  autocomplete="off">
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-3">
                <label for="valor">Valor:</label>
                <input name="valor" type="text" #name="ngModel" [(ngModel)]="contasBrunoService.selectContaBruno.valor"
                  class="form-control" [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }" currencyMask
                  autocomplete="off">
              </div>
              <div class="form-group col-md-3">
                <label for=" vencimento">Vencimento:</label>
                <input type="date" name="vencimento" #name="ngModel"
                  [(ngModel)]="contasBrunoService.selectContaBruno.vencimento" class="form-control" autocomplete="off">
              </div>
              <div class="form-group col-md-3">
                <label for="parcela">Parcela:</label>
                <input type="text" id="parcela" name="parcela" #name="ngModel"
                  [(ngModel)]="contasBrunoService.selectContaBruno.parcela" required class="form-control">
              </div>
              <div class="form-group col-md-3">
                <label for="status">Status:</label>
                <select id="status" name="status" #name="ngModel"
                  [(ngModel)]="contasBrunoService.selectContaBruno.status" required class="form-control">
                  <option selected disabled>Selecione...</option>
                  <option>Pago</option>
                  <option>Pendente</option>
                </select>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="input-field col s12">
                <button mdbBtn type="button" color="light" mdbWavesEffect type="button"
                  (click)="resetForm(contasBrunoForm)">Limpar
                  Formulário &nbsp; <i class="fa fa-undo" aria-hidden="true"></i></button>
                <button mdbBtn type="button" color="primary" mdbWavesEffect type="submit"
                  [disabled]="!contasBrunoForm.valid">Atualizar &nbsp;
                  <mdb-icon fas icon="sync-alt"></mdb-icon></button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <mdb-card style="margin-top:20px;">
    <div class="view rgba-white-slight waves-light" mdbWavesEffect>
      <a>
        <div class="mask"></div>
      </a>
    </div>
    <mdb-card-header style="background-color:#F8F8FF;">
      <h4>Resultados</h4>
    </mdb-card-header>
    <mdb-card-body>
      <div class="row" style="margin-left:-5px;">
        <button type="button" mdbBtn color="primary" mdbWavesEffect data-toggle="modal" data-target="#basicExample"
          (click)="frame.show()">
          <mdb-icon fas icon="plus"></mdb-icon> &nbsp; Novo
        </button>

        <div mdbModal #frame="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
          aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered lg modal-lg" role="document">
            <div class="modal-content">
              <div class="modal-header text-center">
                <h4 class="modal-title w-100 font-weight-bold">Cadastro</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="frame.hide()">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body mx-3">
                <form #contasBrunoForm="ngForm" (ngSubmit)="onSubmit(contasBrunoForm)">
                  <div class="form-row">
                    <div class="form-group col-md-6">
                      <label for="descricao">Conta:</label>
                      <input type="text" name="descricao" #name="ngModel"
                        [(ngModel)]="contasBrunoService.selectContaBruno.descricao" required class="form-control"
                        autocomplete="off">
                    </div>
                    <div class="form-group col-md-6">
                      <label for="detalhe">Detalhe:</label>
                      <input type="text" name="detalhe" #name="ngModel"
                        [(ngModel)]="contasBrunoService.selectContaBruno.detalhe" required class="form-control"
                        autocomplete="off">
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="form-group col-md-3">
                      <label for="valor">Valor:</label>
                      <input name="valor" type="text" #name="ngModel"
                        [(ngModel)]="contasBrunoService.selectContaBruno.valor" class="form-control"
                        [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }" currencyMask autocomplete="off">
                    </div>
                    <div class="form-group col-md-3">
                      <label for=" vencimento">Vencimento:</label>
                      <input type="date" name="vencimento" #name="ngModel"
                        [(ngModel)]="contasBrunoService.selectContaBruno.vencimento" class="form-control"
                        autocomplete="off">
                    </div>
                    <div class="form-group col-md-3">
                      <label for="parcela">Parcela:</label>
                      <input type="text" id="parcela" name="parcela" #name="ngModel"
                        [(ngModel)]="contasBrunoService.selectContaBruno.parcela" required class="form-control">
                    </div>
                    <div class="form-group col-md-3">
                      <label for="status">Status:</label>
                      <select id="status" name="status" #name="ngModel"
                        [(ngModel)]="contasBrunoService.selectContaBruno.status" required class="form-control">
                        <option selected disabled>Selecione...</option>
                        <option>Pago</option>
                        <option>Pendente</option>
                      </select>
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="input-field col s12">
                      <button mdbBtn type="button" color="light" mdbWavesEffect type="button"
                        (click)="resetForm(contasBrunoForm)">Limpar
                        Formulário &nbsp; <i class="fa fa-undo" aria-hidden="true"></i></button>
                      <button mdbBtn type="button" color="primary" mdbWavesEffect type="button"
                        [disabled]="!contasBrunoForm.valid" (click)="cadastrarNovaConta(contasBrunoForm)">Cadastrar
                        &nbsp;
                        <i class="fa fa-plus" aria-hidden="true"></i></button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
        <button mdbBtn type="button" color="dark-green" mdbWavesEffect (click)="exportAsXLSX()"
          style="margin-left: 7px;">
          <mdb-icon fas icon="file-excel"></mdb-icon> &nbsp; Exportar Excel
        </button>
        <button mdbBtn type="button" color="light" mdbWavesEffect (click)="voltarParaTelaInicial()"
          style="margin-left: 7px;">
          <mdb-icon fas icon="chevron-left"></mdb-icon> &nbsp; Voltar
        </button>
      </div>
      <br>
      <div class="table-responsive">
        <table class="table table-hover table-bordered" mdbTable small="true">
          <thead>
            <tr>
              <th class="text-center" scope="col" style="background-color:#F8F8FF;width:10%;"><strong>Ações</strong>
              </th>
              <th class="text-center" scope="col" (click)="sort('descricao')" style="background-color:#F8F8FF;">
                <strong>Conta</strong> &nbsp;<i class="fa fa-sort"></i></th>
              <th class="text-center" scope="col" (click)="sort('detalhe')" style="background-color:#F8F8FF;">
                <strong>Detalhe</strong> &nbsp;<i class="fa fa-sort"></i></th>
              <th class="text-center" scope="col" (click)="sort('valor')" style="background-color:#F8F8FF;">
                <strong>Valor</strong> &nbsp;<i class="fa fa-sort"></i></th>
              <th class="text-center" scope="col" (click)="sort('vencimento')" style="background-color:#F8F8FF;">
                <strong>Vencimento</strong> &nbsp;<i class="fa fa-sort"></i></th>
              <th class="text-center" scope="col" (click)="sort('parcela')" style="background-color:#F8F8FF;">
                <strong>Parcela</strong> &nbsp;<i class="fa fa-sort"></i></th>
              <th class="text-center" scope="col" (click)="sort('status')" style="background-color:#F8F8FF;">
                <strong>Status</strong> &nbsp;<i class="fa fa-sort"></i></th>
            </tr>
          </thead>
          <tbody
            *ngFor="let contas of this.contasBruno | orderBy: key: reverse | paginate: { itemsPerPage: 10, currentPage: p }">
            <tr>
              <td class="text-center">
                <div class="btn-group" mdbDropdown>
                  <button mdbDropdownToggle type="button" mdbBtn color="light" size="sm" mdbWavesEffect>
                    <mdb-icon fas icon="cog"></mdb-icon>
                  </button>

                  <div class="dropdown-menu dropdown-default">
                    <a class="dropdown-item" (click)="edit.show(); onEdit(contas)">
                      <i class="fa fa-edit">&nbsp;&nbsp;</i><span>Editar</span>
                    </a>
                    <a class="dropdown-item" (click)="onDelete(contas._id,contasBrunoForm)">
                      <i class="fa fa-trash"></i>&nbsp;&nbsp;&nbsp;<span>Deletar</span>
                    </a>
                  </div>
                </div>
              </td>
              <td class="text-center">
                {{contas.descricao}}</td>
              <td class="text-center">
                {{contas.detalhe}}</td>
              <td class="text-center">
                {{contas.valor | currency: 'BRL'}}</td>
              <td class="text-center">
                {{contas.vencimento | date: 'dd/MM/yyyy'}}</td>
              <td class="text-center">
                <span>
                  <mdb-badge warning="true">{{contas.parcela}}</mdb-badge>
                </span>
              </td>
              <td class="text-center">
                <span class="badge {{contas.status == 'Pendente' ? 'bg-danger' : 'bg-success'}}"
                  style="color:white;">{{contas.status}}</span>
              </td>
            </tr>
          </tbody>
          <tfoot class="text-center">
            <tr>
              <td colspan="7">
                <pagination-controls (pageChange)="p = $event"></pagination-controls>
              </td>
            </tr>
          </tfoot>
        </table>
      </div>
    </mdb-card-body>
    <div style="margin-top: -20px; margin-left: 22px;">
      <span><strong>Valor Total:</strong></span> &nbsp; <span>R$ {{recuperarValorTotal2()}}</span>
    </div>
  </mdb-card>
</div>
