<mdb-card>
  <mdb-card-header class="info-color white-text text-center py-4">
    <h5>
      <i class="fa fa-lock" aria-hidden="true">&nbsp;</i><strong>Login</strong>
    </h5>
  </mdb-card-header>
  <mdb-card-body class="px-lg-5 pt-0">
    <form class="text-center" style="color: #757575;" #signInForm="ngForm"
      (ngSubmit)="signInForm.valid && onSubmit(signInForm)">
      <div class="form-group">
        <div class="md-form mb-5">
          <input type="email" name="email" #email="ngModel" class="form-control" [(ngModel)]="model.email" required
            [ngClass]="{'invalid-textbox' :signInForm.submitted && !email.valid }" mdbInput mdbValidate>
          <label for="email">E-mail</label>
          <div class="validation" *ngIf="signInForm.submitted && password.errors">
            <mdb-error *ngIf="password.errors.required">Este campo é obrigatório.</mdb-error>
          </div>
          <div class="validation" *ngIf="signInForm.submitted && email.errors?.pattern">
            <mdb-error>Endereço de email invalido.</mdb-error>
          </div>
        </div>
        <div class="md-form mb-5">
          <input type="password" name="password" #password="ngModel" [(ngModel)]="model.password" required minlength="4"
            [ngClass]="{'invalid-textbox' :signInForm.submitted && !password.valid }" class="form-control" mdbInput mdbValidate>
          <label for="password">Senha</label>
          <div class="validation" *ngIf="signInForm.submitted && password.errors">
            <mdb-error *ngIf="password.errors.required">Este campo é obrigatório.</mdb-error>
          </div>
          <div class="validation" *ngIf="signInForm.submitted && password.errors?.minlength">
            <mdb-error>Mínimo de 4 caracteres.</mdb-error>
          </div>
        </div>
      </div>

      <button mdbBtn color="info" outline="true" rounded="true" block="true" class="my-4 waves-effect z-depth-0"
        mdbWavesEffect type="submit">Entrar&nbsp;&nbsp;<mdb-icon fas icon="sign-in-alt"></mdb-icon></button>

      <hr>
      <p>Ainda não possui uma conta?
        <a routerLink="/signup" routerLinkActive="active">Cadastre-se</a>. </p>
    </form>
    <div class="alert alert-danger" role="alert" *ngIf="serverErrorMessages">
      {{serverErrorMessages}}
    </div>
  </mdb-card-body>
</mdb-card>
