<img class="wave" src="../../../assets/img/wave.png">
<img class="wave2" src="../../../assets/img/wave.png">
<div class="teste">
  <div class="login-content">
    <form class="text-center" style="color: #757575;" #signUpForm="ngForm"
      (ngSubmit)="signUpForm.valid && onSubmit(signUpForm)">
      <h2 class="title">Cadastro</h2>
      <div class="md-form mb-5">
        <input type="text" class="form-control" #fullName="ngModel" [(ngModel)]="userService.selectedUser.fullName"
          name="fullName" required [ngClass]="{'invalid-textbox' :signUpForm.submitted && !fullName.valid }" mdbInput
          mdbValidate>
        <label for="fullName">Nome</label>
        <div class="validation" *ngIf="signUpForm.submitted && !fullName.valid">
          <mdb-error *ngIf="email.errors.required">Este campo é obrigatório.</mdb-error>
        </div>
      </div>
      <div class="md-form mb-5">
        <input type="text" class="form-control" #email="ngModel" [(ngModel)]="userService.selectedUser.email"
          name="email" required [ngClass]="{'invalid-textbox' :signUpForm.submitted && !email.valid }" mdbInput
          mdbValidate>
        <label for="email">E-mail</label>
        <div class="validation" *ngIf="signUpForm.submitted && email.errors">
          <mdb-error *ngIf="email.errors.required">Este campo é obrigatório.</mdb-error>
          <mdb-error *ngIf="email.errors.pattern">Endereço de email inválido.</mdb-error>
        </div>
      </div>
      <div class="md-form mb-5">
        <input type="password" class="form-control" #password="ngModel" [(ngModel)]="userService.selectedUser.password"
          name="password" minlength="4" required
          [ngClass]="{'invalid-textbox' :signUpForm.submitted && !password.valid }" mdbInput mdbValidate>
        <label for="password">Senha</label>
        <div class="validation" *ngIf="signUpForm.submitted && password.errors">
          <mdb-error *ngIf="password.errors.required">Este campo é obrigatório.</mdb-error>
          <mdb-error *ngIf="password.errors.minlength">Digite pelo menos 4 caracteres.</mdb-error>
        </div>
      </div>
      <input type="submit" class="btn" value="Cadastrar">
      <a class="text-center" routerLink="/login" routerLinkActive="active">Clique aqui para entrar!</a>
    </form>
    <div class="alert alert-success" role="alert" *ngIf="showSucessMessage">
      Usuário cadastrado com sucesso!
    </div>
    <div class="alert alert-danger" role="alert" *ngIf="serverErrorMessages">
      {{serverErrorMessages}}
    </div>
  </div>
  <!-- <form class="text-center" style="color: #757575;" #signInForm="ngForm"
      (ngSubmit)="signInForm.valid && onSubmit(signInForm)">
      <img src="../../../assets/img/unnamed.png">
      <h2 class="title">Bem-vindo(a)</h2>
      <div class="form-group">
        <div class="md-form mb-5">
          <input type="email" name="email" #email="ngModel" class="form-control" [(ngModel)]="model.email" required
            [ngClass]="{'invalid-textbox' :signInForm.submitted && !email.valid }" mdbInput mdbValidate>
          <label for="email">E-mail</label>
          <div class="validation" *ngIf="signInForm.submitted && password.errors">
            <mdb-error *ngIf="password.errors.required">Este campo é obrigatório.</mdb-error>
          </div>
          <div class="validation" *ngIf="signInForm.submitted && email.errors?.pattern">
            <mdb-error>Endereço de email invalido.</mdb-error>
          </div>
        </div>
        <div class="md-form mb-5">
          <input type="password" name="password" #password="ngModel" [(ngModel)]="model.password" required minlength="4"
            [ngClass]="{'invalid-textbox' :signInForm.submitted && !password.valid }" class="form-control" mdbInput mdbValidate>
          <label for="password">Senha</label>
          <div class="validation" *ngIf="signInForm.submitted && password.errors">
            <mdb-error *ngIf="password.errors.required">Este campo é obrigatório.</mdb-error>
          </div>
          <div class="validation" *ngIf="signInForm.submitted && password.errors?.minlength">
            <mdb-error>Mínimo de 4 caracteres.</mdb-error>
          </div>
        </div>
      </div>
      <input type="submit" class="btn" value="Entrar">
      <a class="text-center" routerLink="/signup" routerLinkActive="active">Cadastre-se clicando aqui!</a>
    </form>
    <div class="alert alert-danger" role="alert" *ngIf="serverErrorMessages">
      {{serverErrorMessages}}
    </div> -->


  <!-- <mdb-card>
  <mdb-card-header class="info-color white-text text-center py-4">
    <h5>
      <i class="fa fa-user-circle" aria-hidden="true"></i>&nbsp;<strong>Cadastro</strong>
    </h5>
  </mdb-card-header>
  <mdb-card-body class="px-lg-5 pt-0">
    <form class="text-center" style="color: #757575;" #signUpForm="ngForm"
      (ngSubmit)="signUpForm.valid && onSubmit(signUpForm)">
      <div class="md-form mb-5">
        <input type="text" class="form-control" #fullName="ngModel" [(ngModel)]="userService.selectedUser.fullName"
          name="fullName" required [ngClass]="{'invalid-textbox' :signUpForm.submitted && !fullName.valid }" mdbInput
          mdbValidate>
        <label for="fullName">Nome</label>
        <div class="validation" *ngIf="signUpForm.submitted && !fullName.valid">
          <mdb-error *ngIf="email.errors.required">Este campo é obrigatório.</mdb-error>
        </div>
      </div>
      <div class="md-form mb-5">
        <input type="text" class="form-control" #email="ngModel" [(ngModel)]="userService.selectedUser.email"
          name="email" required [ngClass]="{'invalid-textbox' :signUpForm.submitted && !email.valid }" mdbInput
          mdbValidate>
        <label for="email">E-mail</label>
        <div class="validation" *ngIf="signUpForm.submitted && email.errors">
          <mdb-error *ngIf="email.errors.required">Este campo é obrigatório.</mdb-error>
          <mdb-error *ngIf="email.errors.pattern">Endereço de email inválido.</mdb-error>
        </div>
      </div>
      <div class="md-form mb-5">
        <input type="password" class="form-control" #password="ngModel" [(ngModel)]="userService.selectedUser.password"
          name="password" minlength="4" required
          [ngClass]="{'invalid-textbox' :signUpForm.submitted && !password.valid }" mdbInput mdbValidate>
        <label for="password">Senha</label>
        <div class="validation" *ngIf="signUpForm.submitted && password.errors">
          <mdb-error *ngIf="password.errors.required">Este campo é obrigatório.</mdb-error>
          <mdb-error *ngIf="password.errors.minlength">Digite pelo menos 4 caracteres.</mdb-error>
        </div>
      </div>
      <button mdbBtn color="info" outline="true" rounded="true" block="true" class="my-4 waves-effect z-depth-0"
        mdbWavesEffect type="submit">Cadastrar</button>

      <hr>
      <p>Já possui uma conta?
        <a routerLink="/login" routerLinkActive="active">Entrar</a>. </p>

    </form>
    <div class="alert alert-success" role="alert" *ngIf="showSucessMessage">
      Usuário cadastrado com sucesso!
    </div>
    <div class="alert alert-danger" role="alert" *ngIf="serverErrorMessages">
      {{serverErrorMessages}}
    </div>
  </mdb-card-body>
</mdb-card> -->
