form .validation {
  margin-top: -15px;
  margin-bottom: 15px;
}

form input[type=text].invalid-textbox,
form input[type=password].invalid-textbox {
  border: 2px solid #ed5558;
}

form label.validation-message {
  color: #ed5558;
}

